.logo {
  height: 30px;
  margin-bottom: 12px;
  padding-bottom: 85px;
  border-bottom: 1px dashed #ccce;
  width: 100%;
}

.site-layout .site-layout-background {
  background: #fff;
}

.logo-img {
  position: absolute;
  top: -38px;
  left: 15px;
  width: 170px;
}

.logo-img-2 {
  margin-top: 28px;
  margin-left: 19px;
  width: 41px;
}
