.ant-collapse-header {
  padding: 0 !important;
}

.ant-collapse {
	border-radius: 20px;
}

.ant-collapse-item {
  border: none !important;
}

.ant-collapse-content-box {
	padding: 15px 20px !important;
}